<nav class="navbar navbar-toggleable-md navbar-dark bg-color-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-info h4" href="/">Sboj.gb</a>

    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto row col-md-7 justify-content-end">
            <li class="nav-item active col-md-3">
                <a class="nav-link text-info h5" href="/">Home</a>
            </li>
            <li class="nav-item active col-md-3">
                <a class="nav-link text-info h5" href="/jobs/add">Add Job</a>
            </li>
            <li class="nav-item active col-md-3">
                <a class="nav-link text-info h5" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>